.jumbotron{
    background-color: #00a8cc;
    color: white;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #dbdbdb ;
}

.employee-card{
    margin: 20px;
    font-family: 'Oswald', sans-serif;
}

.card-header {
    background-color: #00a8cc;
    color: white;
}